.App {
  text-align: center;
}

#root {
  background-color: #347474;
}

#body {
  background-color: #347474;
}

.newBlog {
  background-color: #42b883;
  width: 100%;
  margin: auto;
  padding: 0.2px;
  margin-left: auto;
  margin-right: auto;
}

.newBlogTitle {
  margin: auto;
  width: 100%;
  padding: 50px;
  text-align: center;
  font-family: Garamond, serif;
  font-size: 50px;
  color: #35495e;
  flex-direction: column;
  align-items: left;
  margin-left: auto;
  margin-right: auto;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
.header-OurAdventures {
  margin: auto;
  width: 100%;
  background-color: #35495e;
  padding: 0.2px;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 70px;
  color: #ff7e67;
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #61dafb;
}

/* .btn-group {
  width: 100%;
  border-style: solid;
  border-color: rgba(14, 8, 8, 0.46);
  border-image: initial;
  display: flex;
  z-index: 10;
  position: relative;
  font-size: 16px;
  white-space: nowrap;
  border-width: 1px 0px;
  flex-direction: column;
  background-color: #ff7e67;
  color: #ff7e67(255, 251, 251);
  cursor: pointer;
  font-size: min(1.2vw, 0.95rem);
  font-style: italic;
  font-family: Garamond, serif;
  padding: clamp(0.2em, 0.5vw, 0.5em) clamp(0.2em, 0.5vw, 0.64em);
  border-radius: 8px;
  margin: auto;
  float: left;
} */

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
  background-color: #347474;
}



.trips button {
  position: relative;
  background-color: #ff7e67(184 49% 5%); /*  background */
  top: 50%;
  border: none; /*  border */
  color: rgb(3, 3, 3); /*  text */
  border-radius: 10px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.trips button:hover {
  background-color: #347474;
}
.trips a.active {
  background-color: #ff7e67;
}

div.scrollmenu {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}

div.scrollmenu a {
  display: inline-block;
  color: rgb(236, 236, 236);
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: rgb(104, 102, 102);
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.formName {
  padding: 10px;
  border-radius: 10px;
}
.formLocation {
  padding: 10px;
  border-radius: 10px;
}
.formImage {
  padding: 10px;
  border-radius: 10px;
}
.formDescription {
  padding: 10px;
  border-radius: 10px;
}
.formFieldSet {
  margin: 2em;
  padding: 1em 1em;
  border: solid 1px #ccc;
  border-radius: 6px;
  min-width: 500px;
  display: block;
}
.submitButtonDisplay {
  position: relative;
  background-color: #ff7e67(184 49% 5%); /*  background */
  top: 50%;
  border: none; /*  border */
  color: rgb(3, 3, 3); /*  text */
  border-radius: 10px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
}
.tripCardDisplay {
  background-color: #347474;
}

/* css for home component */

.trip-window {
  display: flex;
  background-color: #347474;
  justify-content: space-evenly;
  flex-direction: column;
  
}

#welcome {
  display: flex;
  justify-content: center;
  text-align: center;
}

#about {
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#submit-button {
  width: 180px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* / css for home component */

.responsive {
  max-width: 100%;
  height: auto;
}

.test {
  float: right;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

  /* TripCard CSS */
.h1Card {
  font-family: 'PT Serif', serif;
  text-align: center;
}

.cardIMG{
  width: 300px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tripP{
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: 300;
}

  /* TripCard CSS */